venv
*.env
*.pyc
*.xml
db.sqlite3
.idea/
migrations/
front_end/node_modules/*
ecommerce/utils/UsersLenovoDesktop*
UsersLenovoDesktop*
UsersLenovoDesktopwork_benchPromisevenvLibsite-packages/_black_version.py
media
front_end/src/assets